In [3]:
import FinanceDataReader as fdr
import matplotlib.pyplot as plt

# 1.3 누적수익률
- 11월에 사서 4월에 파는 전략

In [4]:
kospi = fdr.DataReader('KS11', '2000', '2022-09-06')
kospi

C:\Users\esthe\anaconda3\lib\site-packages\FinanceDataReader\data.py:47: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(more)

              Close     Open     High      Low       Volume  Change
Date
2000-01-04  1059.04  1028.33  1066.18  1016.59  195900000.0  0.0301
2000-01-05   986.31  1006.87  1026.52   984.05  257700000.0 -0.0687
2000-01-06   960.79  1013.95  1014.90   953.50  203520000.0 -0.0259
2000-01-07   948.65   949.17   970.16   930.84  215660000.0 -0.0126
2000-01-10   987.24   979.67   994.94   965.02  240180000.0  0.0407
...             ...      ...      ...      ...          ...     ...
2022-08-31  2472.05  2433.47  2473.75  2426.14  436250000.0  0.0086
2022-09-01  2415.61  2443.00  2443.61  2415.61  580020000.0 -0.0228
2022-09-02  2409.41  2427.70  2432.37  2402.67  391600000.0 -0.0026
2022-09-05  2403.68  2410.07  2424.77  2392.63  354740000.0 -0.0024
2022-09-06  2410.02  2409.72  2422.53  2399.26  294220000.0  0.0026

[5601 rows x 6 columns]

In [5]:
for year in range(2000, 2022):
    buy_month = str(year) + '-11'
    sell_month = str(year+1) + '-04'
    print(buy_month, sell_month)

2000-11 2001-04
2001-11 2002-04
2002-11 2003-04
2003-11 2004-04
2004-11 2005-04
2005-11 2006-04
2006-11 2007-04
2007-11 2008-04
2008-11 2009-04
2009-11 2010-04
2010-11 2011-04
2011-11 2012-04
2012-11 2013-04
2013-11 2014-04
2014-11 2015-04
2015-11 2016-04
2016-11 2017-04
2017-11 2018-04
2018-11 2019-04
2019-11 2020-04
2020-11 2021-04
2021-11 2022-04

In [6]:
누적수익률 = 1.0
for year in range(2000, 2022):
    buy_month = str(year) + '-11'
    sell_month = str(year+1) + '-04'
    매수가 = kospi[buy_month].iloc[0]['Open'] # 11월 첫 거래일 시가
    매도가 = kospi[sell_month].iloc[-1]['Close'] # 4월 마지막 거래일 종가
    수익률 = 매도가/매수가
    누적수익률 = 누적수익률 * 수익률
print(누적수익률)

C:\Users\esthe\AppData\Local\Temp\ipykernel_7892\461819988.py:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  매수가 = kospi[buy_month].iloc[0]['Open'] # 11월 첫 거래일 시가
C:\Users\esthe\AppData\Local\Temp\ipykernel_7892\461819988.py:6: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  매도가 = kospi[sell_month].iloc[-1]['Close'] # 4월 마지막 거래일 종가

5.586520689549505

# 1.4 CAGR

### 전략 1. 11월에 사고 4월에 판매

In [7]:
# 22 : 1년을 투자
CAGR = (누적수익률 ** (1/22))-1
print(CAGR * 100)

8.133677540062312

In [8]:
#11  : 6개월 투자
CAGR = (누적수익률 ** (1/11))-1
print(CAGR * 100)

16.928922183381733

### 전략 2. 계속 가지고 있음

In [11]:
존버수익률 = kospi.iloc[-1]['Close'] / kospi.iloc[0]['Open']
존버CAGR = (존버수익률 ** (1/21))-1
print(존버CAGR * 100)

4.139076244362894